set relativenumber number
set hlsearch

" Bash like insert
inoremap <C-a> <C-o>^
inoremap <C-e> <C-o>$<Right>
inoremap <C-b> <Left>
inoremap <C-f> <Right>
inoremap <C-n> <Down>
inoremap <C-p> <Up>
inoremap <C-h> <BS>
inoremap <C-d> <Del>
inoremap <C-k> <C-o>D<Right>
inoremap <C-u> <C-o>d^

" # <Tab> {{{
nnoremap <Tab> gt
nnoremap <S-Tab> gT
" }}}

nnoremap cw ciw
nnoremap dw diw
inoremap <C-w> <ESC>ciw
